.jumbotron {
    background-color: cornsilk;
}

html {
    background-color: cornflowerblue;
}

th{
    color: darkblue;
}


.collapse {
    background-color: lightskyblue;
}



h1{
    color:darkblue;
}
