<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <title>Library</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">JBC Library</h1>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/">Home Page</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="/all">All Books</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/returned">All Available Books</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/borrowed">All Borrowed Books<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/bookform">Add New Book </a>
                    </li>



                </ul>

            </div>
        </nav>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Year Published</th>
                <th scope="col">ISBN</th>
                <th scope="col">Image</th>
                <th scope="col">Available?</th>
                <th scope="col">Number of Times Checked Out</th>
                <th scope="col">Last Time Borrowed</th>
                <th scope="col">Actions Available</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${Stacks}" th:if="${book.available == 'Not'}">

                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.yearPub}"></td>
                <td th:text="${book.isbnNum}"></td>
                <td><img th:src='${book.image}' width="150" height="150"/></td>
                <td th:text="${book.available}"></td>
                <td th:text="${book.numTimes}"></td>
                <td th:text="${book.lastBorrow}"></td>
                <td><a th:href="@{/return/{id} (id=${book.id})}">Return</a></td>



            </tr>
            </tbody>
        </table>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>