<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet"/>
    <title>Library</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">JBC Library Home Page</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item">
                            <span class="nav-link">Navigation</span>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/all">All Books</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/returned">All Available Books</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/borrowed">All Borrowed Books</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/bookform">Add New Book </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/history">Borrowing History</a>
                        </li>

                    </ul>

                </div>
            </nav>
            <br /><br />

            <h3>Welcome to the JBC Library</h3>

            <div class="container">
                <div class="row">
                    <div class="col-md">
                        <img src="/Images/library.jpg" width="300" height="300"/>
                        <br />
                        <span>Our Beautiful Entrance</span>
                    </div>
                    <div class="col-md">
                        <h3>Library Hours</h3>
                        <table>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Hours</th>
                            </tr>
                            <tr>
                                <td>Monday</td>
                                <td> 9 am - 9 pm</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td> 9 am - 9 pm</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td> 9 am - 9 pm</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td> 9 am - 9 pm</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td> 10 am - 6 pm</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td> 10 am - 6 pm</td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td> 1 pm - 5 pm</td>
                            </tr>
                        </table>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md">
                        <h5>Address</h5>
                        <span>12345 Boulevard Road, Citee, LI 01010</span>
                    </div>
                    <div class="col-md">
                        <span>Branch Manager: Generalise Mangere</span>
                        <br /><br />
                        <span>Nearby Branches: Library of Alexandria, Beinecke Library, Biblioteca Nazionale Centrale di Roma and Vatican Library </span>
                    </div>
                </div>
            </div>
        </div>
    </div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>